<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>switch.tpl</title>
    <link rel="stylesheet" href="../../../../dist/css/weui.css"/>
</head>

<body>
<div class="container">
    <div class="page">

        <label for="switchCP" class="weui-switch-cp">
            <input id="switchCP" class="weui-switch-cp__input" type="checkbox" checked="checked">
            <div class="weui-switch-cp__box"></div>
        </label>

    </div>
</div>
</body>
</html>