
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>actionsheet_android.tpl</title>
    <link rel="stylesheet" href="../../../../dist/css/weui.css"/>
</head>

<body>
<div class="container">
    <div class="page">

        <div class="weui-skin_android" id="androidActionsheet" style="opacity: 1;">
            <div class="weui-mask"></div>
            <div class="weui-actionsheet">
                <div class="weui-actionsheet__menu">
                    <div class="weui-actionsheet__cell">示例菜单</div>
                    <div class="weui-actionsheet__cell">示例菜单</div>
                    <div class="weui-actionsheet__cell">示例菜单</div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>