
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>toast.tpl</title>
    <link rel="stylesheet" href="../../../../dist/css/weui.css"/>
</head>

<body>
<div class="container">
    <div class="page">

        <div id="toast" style="opacity: 1; display: block;">
            <div class="weui-mask_transparent"></div>
            <div class="weui-toast">
                <i class="weui-icon-success-no-circle weui-icon_toast"></i>
                <p class="weui-toast__content">已完成</p>
            </div>
        </div>

    </div>
</div>
</body>
</html>