/*
* 模块描述:字体类型变量
*/
@charset "UTF-8";

// font
@weuiFontEN:-apple-system-font,"Helvetica Neue";
@weuiFontCN:"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
@weuiFontSans:sans-serif;
@weuiFontDefault:@weuiFontEN,@weuiFontSans;

@weuiDesign:75;
